<style>
    span {
        color: rgba(255, 166, 0, 0.6);
        font-size: larger;
        text-shadow: 1px 1px 0 black;
        font-weight: 500;
     }
 </style>
<footer class="footer bg-transparent mt-auto  py-3 ">
    <div class="container">
        <span>&copy; NutriFit 2022</span>
    </div>
</footer>