<style>
    a{
        color: rgba(255, 166, 0, 0.6) !important;
        text-shadow: 1px 1px 0 black;    
        font-weight: 500;  
    }
    .navbar
        {
            margin: 1rem 1rem;
        }
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NutriFit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/plans">Plans</a>
                <a class="nav-link" href="/plans/new">New Plan</a>
                <a class="nav-link" href="/forms/new">New Form</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/logout">Logout</a>
                <a class="nav-link" href="/profile">My Profile</a>
            </div>
        </div>
    </div>
</nav>