<style>
    body {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("https://images.unsplash.com/photo-1483722987215-6ee3a1d33f86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        background-size: cover;
        background-position:right;
        text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.5);
    }
    #register{
        background-color: rgba(240, 255, 255, 0.11);
        border-radius: 40%;
        padding: 2em;
    }
    .transp{
        background: rgba(0, 0, 0, 0.062);
    }
    .btn{
        font-weight: 700;
    }
</style>

<% layout('./boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div id="register" class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="VALIDATED" enctype="multipart/form-data"  novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control transp" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control transp" type="email" id="email" name="email" autofocus required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control transp" type="password" id="password" name="password" autofocus required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="image" name="image" multiple>
                                <label class="form-file-label" for="image">
                                    <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                    <span class="form-file-button">Browse</span>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-light btn-block transp">Register</button>
                    </form>    
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <p style="margin: 0rem 5rem;">Already registered? Log in <a href="/login">here</a></p>
        </div>
    </div>

</div>